.swiper {
    .prev {
        position: absolute;
        top: 30%;
        left: 20px;
    }

    .next {
        position: absolute;
        top: 30%;
        right: 20px;
    }

    button {
        border: none;
        background: none;
        border-radius: 50%;
        font-size: 80px;
        z-index: 99;
        opacity: 0.5;
        font-weight: 400;
        filter: drop-shadow(1.75rem 1.75rem 1.4rem rgb(11, 11, 11));
        animation: slide 1s 0.9s infinite ease alternate;

        @keyframes slide {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.3);
            }
        }
    }
}
