.mainDetails {
	display: flex;
	flex-direction: column;
	// gap: 100px;
	.rec {
		padding: 20px 40px;
		margin-top: 40px;
	}
	.ProductDetails {
		display: flex;
		justify-content: flex-start;
		gap: 30px;
		margin-top: 20px;
		padding: 0px 40px;

		img {
			width: 426px;
			height: 620px;
			object-fit: cover;
			cursor: pointer;
		}
		.detailsText {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			gap: 30px;
			h1 {
				margin-bottom: 10px;
				font-weight: 500;
			}
			h2 {
				color: rgb(98, 94, 94);
				font-weight: 600;
			}
			h3 {
				display: flex;
			}

			.discription {
				display: flex;
				flex-direction: column;
				gap: 10px;
				width: 700px;
				h4 {
					font-size: 15px;
					color: gray;
					font-weight: 500;
					// margin-top: 10px;
				}
			}
			.detailsBtns {
				display: flex;
				flex-direction: column;
				gap: 10px;
				button {
					padding: 10px 20px;
					background: none;
					border: 2px solid #010049;
					color: #010049;
					font-weight: 600;
					transition: 0.5s;
					cursor: pointer;
				}
				button:hover {
					box-shadow: 1px 1px 1px 2px #010049;
				}
			}
		}
	}
}
